apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: blackbox-exporter
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-blackbox-exporter
    targetRevision: 9.0.0
    helm:
      values: |
        serviceMonitor:
          enabled: true
          namespace: observability
          defaults:
            interval: 30s
            scrapeTimeout: 10s
          targets:
          - name: student-api-healthcheck
            url: http://student-api.student-api.svc.cluster.local:8080/healthcheck
            module: http_2xx
          - name: vault
            url: http://vault.vault.svc.cluster.local:8200/ui
            module: http_2xx
          - name: postgres
            url: postgres-db-postgresql.student-api.svc.cluster.local:5432
            module: tcp_connect
        config:
          modules:
            http_2xx:
              prober: http
              timeout: 5s
              http:
                valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
                follow_redirects: true
            tcp_connect:
              prober: tcp
              timeout: 5s
        nodeSelector:
          type: dependent_services
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
