server:
  
  dataStorage:
    enabled: false

  volumes:
    - name: data
      emptyDir: {}
  
  volumeMounts:
    - name: data
      mountPath: /vault/data

  nodeSelector:
    type: dependent_services