server:

  standalone:
    enabled: true
  
  dataStorage:
    enabled: true
    size: 10Gi
    storageClass: standard

  volumePermissions:
    enabled: true

  nodeSelector:
    type: dependent_services

ui:
  enabled: true