server:
  dev:
    enabled: false 
  standalone:
    enabled: true
  dataStorage:
    enabled: true
    size: 10Gi
  nodeSelector:
    type: dependent_services
server:
  extraInitContainers:
    - name: fix-permissions
      image: busybox
      command: ["sh", "-c", "chown -R 100:100 /vault/data"]
      securityContext:
        runAsUser: 0
      volumeMounts:
        - name: data
          mountPath: /vault/data