apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-applicationset-controller
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/os: linux
        type: dependent_services
