name: CI Pipeline
on:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - "run.py"
      - "Dockerfile"
      - "Makefile"
      - "requirements.txt"
  
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          make setup

      - name: Lint Code
        run: |
          . venv/bin/activate
          make lint

      - name: Run Tests
        run: |
          . venv/bin/activate
          make test

      - name: Build Container image
        run: make build